<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Judul</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
</head>

<body>
    <header class="p-3 bg-dark text-white">
        <div class="container d-flex justify-content-center">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav nav-pills col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li class="nav-item"><a href="/" class="nav-link text-white">Beranda</a></li>
                    <li class="nav-item"><a href="/feature" class="nav-link text-white">Fitur</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link text-white active">Tentang</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4"
            src="https://i.pinimg.com/originals/19/0f/2f/190f2fe4d987a93cee56b4d7d8070ac4.jpg" alt="" width="144">
        <h1 class="display-5 fw-bold">Relief Candi Borubodur</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Terdapat berbagai macam jenis relief yang tersebar diseluruh Candi Borubudur.
                Masing-masing
                relief memiliki terbagai macam jenis dan arti.
            </p>

        </div>
    </div>

    <h1 class="px-4 py-5 my-5 text-center display-5 fw-bold">Macam-macam Relief Candi Borubodur</h1>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../static/img/Gambar1.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                    width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Relief Karmawibhangga</h1>
                <p class="lead">Relief Karmawibhangga (160 panel). Relief ini tersimpan di lantai dasar Candi
                    Borobudur. Rangkaian relief Karmawibhangga mengisahkan perihal hukum sebab-akibat perbuatan dalam
                    kehidupan sehari-hari manusia yang bersifat universal.</p>

            </div>
        </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Relief Jataka</h1>
                <p class="lead">Relief Jataka (500 panel). Relief ini tepatnya berada di dinding luar lantai 3. Relief
                    Jataka mengisahkan kelahiran masa lampau Bodhisattwa dalam upaya menyempurnakan kebajikan demi
                    mencapai pencerahan.</p>
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../static/img/Gambar2.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                    width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../static/img/Gambar3.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                    width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Relief Avadana</h1>
                <p class="lead">Relief Avadana (120 panel di lantai 3, dan 100 panel di lantai 4). Dalam relief Avadana
                    ini berisi kisah-kisah moral yang dapat menjadi tuntunan hidup, seperti kisah Maitrakanyaka.</p>
            </div>
        </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Relief Lalitavistara</h1>
                <p class="lead">Relief Lalitavistara (120 panel di lantai 3). Detail dalam relief ini terletak di lantai
                    3 yang berisi kehidupan Buddha dari sebelum masa kelahiran sampai saat pengajaran pertamanya di
                    Taman Rusa. </p>
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../static/img/Gambar4.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                    width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../static/img/Gambar5.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                    width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Relief Gandavyuha</h1>
                <p class="lead">Relief Gandavyuha (460 panel). Relief ini berada di lantai 4-6 yang mengisahkan
                    perjalanan tokoh Sudhana menemui para mitra dan guru kebajikan untuk merealisasikan pencerahan akal
                    budi.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Beranda</a></li>
                <li class="nav-item"><a href="/feature" class="nav-link px-2 text-muted">Fitur</a></li>
                <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">Tentang</a></li>
            </ul>
            <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
        </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>